extends layout
block content
 .page-header
  .page-header-overlay
   .container
    .row
      .col-12
        header.entry-header
          h1 #{entryHeader} 
        // .entry-header
      // .col
    // .row
    // .container
    // .page-header-overlay
    // .page-header
 .container
  .row
    .col-12
      .breadcrumbs
        ul.flex.flex-wrap.align-items-center.p-0.m-0
          li
            a(href='#')
              i.fa.fa-home
              |  Home
          li Courses
      // .breadcrumbs
    // .col
  // .row
  .row
    .col-12.col-lg-8
      .featured-courses.courses-wrap
        .row.mx-m-25
          .col-12.col-md-6.px-25
            .course-content
              figure.course-thumbnail
                a(href='#')
                  img(src='images/1.jpg', alt='')
              // .course-thumbnail
              .course-content-wrap
                header.entry-header
                  h2.entry-title
                    a(href='#') The Complete Android Developer Course
                  .entry-meta.flex.flex-wrap.align-items-center
                    .course-author
                      a(href='#') Ms. Lara Croft 
                    .course-date July 21, 2018
                  // .course-date
                // .entry-header
                footer.entry-footer.flex.flex-wrap.justify-content-between.align-items-center
                  .course-cost
                    | $45 
                    span.price-drop $68
                  // .course-cost
                  .course-ratings.flex.justify-content-end.align-items-center
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star-o
                    span.course-ratings-count (4 votes)
                  // .course-ratings
                // .entry-footer
              // .course-content-wrap
            // .course-content
          // .col
          .col-12.col-md-6.px-25
            .course-content
              figure.course-thumbnail
                a(href='#')
                  img(src='images/2.jpg', alt='')
              // .course-thumbnail
              .course-content-wrap
                header.entry-header
                  h2.entry-title
                    a(href='#') The Ultimate Drawing Course Beginner to Advanced
                  .entry-meta.flex.flex-wrap.align-items-center
                    .course-author
                      a(href='#') Michelle Golden
                    .course-date Mar 14, 2018
                  // .course-date
                // .entry-header
                footer.entry-footer.flex.flex-wrap.justify-content-between.align-items-center
                  .course-cost
                    span.free-cost Free
                  // .price-drop
                  .course-ratings.flex.justify-content-end.align-items-center
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star-o
                    span.course-ratings-count (4 votes)
                  // .course-ratings
                // .entry-footer
              // .course-content-wrap
            // .course-content
          // .col
          .col-12.col-md-6.px-25
            .course-content
              figure.course-thumbnail
                a(href='#')
                  img(src='images/3.jpg', alt='')
              // .course-thumbnail
              .course-content-wrap
                header.entry-header
                  h2.entry-title
                    a(href='#') The Complete Digital Marketing Course
                  .entry-meta.flex.flex-wrap.align-items-center
                    .course-author
                      a(href='#') Ms. Lucius
                    .course-date Dec 18, 2018
                  // .course-date
                // .entry-header
                footer.entry-footer.flex.flex-wrap.justify-content-between.align-items-center
                  .course-cost
                    | $55 
                    span.price-drop $78
                  // .course-cost
                  .course-ratings.flex.justify-content-end.align-items-center
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star-o
                    span.course-ratings-count (4 votes)
                  // .course-ratings
                // .entry-footer
              // .course-content-wrap
            // .course-content
          // .col
          .col-12.col-md-6.px-25
            .course-content
              figure.course-thumbnail
                a(href='/single-courses')
                  img(src='images/4.jpg', alt='')
              // .course-thumbnail
              .course-content-wrap
                header.entry-header
                  h2.entry-title
                    a(href='/single-courses') The Unreal Engine Developer Course
                  .entry-meta.flex.flex-wrap.align-items-center
                    .course-author
                      a(href='/single-courses') Mr. John Wick
                    .course-date Otc 17, 2018
                  // .course-date
                // .entry-header
                footer.entry-footer.flex.flex-wrap.justify-content-between.align-items-center
                  .course-cost
                    span.free-cost Free
                  // .course-cost
                  .course-ratings.flex.justify-content-end.align-items-center
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star-o
                    span.course-ratings-count (4 votes)
                  // .course-ratings
                // .entry-footer
              // .course-content-wrap
            // .course-content
          // .col
          .col-12.col-md-6.px-25
            .course-content
              figure.course-thumbnail
                a(href='#')
                  img(src='images/5.jpg', alt='')
              // .course-thumbnail
              .course-content-wrap
                header.entry-header
                  h2.entry-title
                    a(href='#') Progressive Web Apps (PWA) - The Complete Guide
                  .entry-meta.flex.flex-wrap.align-items-center
                    .course-author
                      a(href='#') Mr. Tom Redder
                    .course-date Sep 14, 2018
                  // .course-date
                // .entry-header
                footer.entry-footer.flex.flex-wrap.justify-content-between.align-items-center
                  .course-cost
                    | $38 
                    span.price-drop $48
                  // .course-cost
                  .course-ratings.flex.justify-content-end.align-items-center
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star-o
                    span.course-ratings-count (4 votes)
                  // .course-ratings
                // .entry-footer
              // .course-content-wrap
            // .course-content
          // .col
          .col-12.col-md-6.px-25
            .course-content
              figure.course-thumbnail
                a(href='#')
                  img(src='images/6.jpg', alt='')
              // .course-thumbnail
              .course-content-wrap
                header.entry-header
                  h2.entry-title
                    a(href='#') Cryptocurrency Investment Course 2018
                  .entry-meta.flex.flex-wrap.align-items-center
                    .course-author
                      a(href='#') Russell Stephens
                    .course-date Nov 06, 2018
                  // .course-date
                // .entry-header
                footer.entry-footer.flex.flex-wrap.justify-content-between.align-items-center
                  .course-cost
                    span.free-cost Free
                  // .course-cost
                  .course-ratings.flex.justify-content-end.align-items-center
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star-o
                    span.course-ratings-count (4 votes)
                  // .course-ratings
                // .entry-footer
              // .course-content-wrap
            // .course-content
          // .col
        // .row
      // .featured-courses
      .pagination.flex.flex-wrap.justify-content-between.align-items-center
        .col-12.col-lg-4.order-2.order-lg-1.mt-3.mt-lg-0
          ul.flex.flex-wrap.align-items-center.order-2.order-lg-1.p-0.m-0
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#')
                i.fa.fa-angle-right
        .col-12.flex.justify-content-start.justify-content-lg-end.col-lg-8.order-1.order-lg-2
          .pagination-results.flex.flex-wrap.align-items-center
            p.m-0 Showing 1&ndash;3 of 12 results
            form
              select
                option Show: 06
                option Show: 12
                option Show: 18
                option Show: 24
          // .pagination-results
      // .pagination
    // .col
    .col-12.col-lg-4
      .sidebar
        .search-widget
          form.flex.flex-wrap.align-items-center
            input(type='search', placeholder='Search...')
            button.flex.justify-content-center.align-items-center(type='submit')
              i.fa.fa-search
          // .flex
        // .search-widget
        .cat-links
          h2 Categories
          ul.p-0.m-0
            li
              a(href='#') Business
            li
              a(href='#') Design
            li
              a(href='#') Marketing
            li
              a(href='#') MBA Courses
            li
              a(href='#') Technology
            li
              a(href='#') Web Development
        // .cat-links
        .latest-courses
          h2 Latest Courses
          ul.p-0.m-0
            li.flex.flex-wrap.justify-content-between.align-items-center
              img(src='images/t-1.jpg', alt='')
              .content-wrap
                h3
                  a(href='#') The Complete Financial Analyst Training
                .course-cost.free-cost Free
              // .content-wrap
            li.flex.flex-wrap.justify-content-between.align-items-center
              img(src='images/t-2.jpg', alt='')
              .content-wrap
                h3
                  a(href='#')
                    | Complete Java
                    | Masterclass
                .course-cost.free-cost Free
              // .content-wrap
            li.flex.flex-wrap.justify-content-between.align-items-center
              img(src='images/t-3.jpg', alt='')
              .content-wrap
                h3
                  a(href='#') The Complete Digital Marketing Course
                .course-cost $24
              // .content-wrap
            li.flex.flex-wrap.justify-content-between.align-items-center
              img(src='images/t-4.jpg', alt='')
              .content-wrap
                h3
                  a(href='#')
                    | Photoshop CC 2018
                    | MasterClass
                .course-cost $18
              // .content-wrap
        // .latest-courses
        .ads
          img(src='images/ads.jpg', alt='')
        // .ads
        .popular-tags
          h2 Popular Tags
          ul.flex.flex-wrap.align-items-center.p-0.m-0
            li
              a(href='#') Creative
            li
              a(href='#') Unique
            li
              a(href='#') Photography
            li
              a(href='#') ideas
            li
              a(href='#') Wordpress Template
            li
              a(href='#') startup
        // .popular-tags
      // .sidebar
    // .col
    // .row
    // .container

   
