extends layout
block content
 .page-header
  .page-header-overlay
   .container
    .row
      .col-12
        header.entry-header
          h1.entry-title #{entryHeader}
          .ratings.flex.justify-content-center.align-items-center
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star-o
            span (4 votes)
          // .ratings
        // .entry-header
      // .col
    // .row
    // .container
    // .page-header-overlay
    // .page-header
 .container
  .row
    .col-12.offset-lg-1.col-lg-10
      .featured-image
        img(src='images/single-course-featured-img.jpg', alt='')
        .course-cost Free
    // .col
  // .row
  .row
    .col-12.offset-lg-1.col-lg-1
      .post-share
        h3 share
        ul.flex.flex-wrap.align-items-center.p-0.m-0
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-google-plus
          li
            a(href='#')
              i.fa.fa-instagram
          li
            a(href='#')
              i.fa.fa-thumb-tack
      // .post-share
    // .col
    .col-12.col-lg-8
      .single-course-wrap
        .course-info.flex.flex-wrap.align-items-center
          .course-author.flex.flex-wrap.align-items-center.mt-3
            img(src='images/course-author.jpg', alt='')
            .author-wrap
              label.m-0 Teacher
              .author-name
                a(href='#') Ms. Lara Croft
            // .author-wrap
          // .course-author
          .course-cats.mt-3
            label.m-0 Categories
            .author-name
              a(href='#') Web design
          // .course-cats
          .course-students.mt-3
            label.m-0 Student
            .author-name
              a(href='#') 26 (REGISTERED)
          // .course-students
          .buy-course.mt-3
            a.btn(href='#') ADD to cart
          // .buy-course
        // .course-info
        .single-course-cont-section
          h2 What Will I Learn?
          ul.p-0.m-0.green-ticked
            li Learn C++, the games industry standard language.
            li Develop strong and transferrable problem solving skills.
            li Gain an excellent knowledge of modern game development.
            li Learn how object oriented programming works in practice.
            li Gain a more fundamental understanding of computer operation.
          h2 Requirements
          ul.p-0.m-0.black-doted
            li 64-bit PC capable of running Unreal 4 (recommended).
            li Or a Mac capable of running Unreal 4 (must support Metal).
            li About 15GB of free disc space.
          h2 Description
          p EW Testing Grounds FPS shipped, including...
          p Much more C++ and Blueprint.
          p AI Blackboards &amp; Behavior Trees.
          p Environmental Query System (EQS).
          p Humanoid Animation Blending.
          p Never-ending Level Design.
          p
            | The course now has high quality hand written subtitles throughout, available as closed captions so you can turn them on or off at your convenience.
          p
            | This course started as a runaway success on Kickstarter. Get involved now, and get access to all future content as it&apos;s added. The final course will be over 50 hours of content and 300+ lectures.
          p
            | Learn how to create and mod video games using Unreal Engine 4, the free-to-use game development platform used by AAA studios and indie developers worldwide.
          p
            | We start super simple so you need no prior experience of Unreal or coding! With our online tutorials, you&apos;ll be amazed what you can achieve.
          p
            | Benefit from our world-class support from both other students, and the instructors who are on the forums regularly. Go on to build several games including a tank game, and a First Person Shooter.
          p
            | You will have access to a course forum where you can discuss topics on a course-wide basis, or down to the individual video. Our thriving discussion forum will help you learn and share ideas with other students.
          p
            | You will learn C++, the powerful industry standard language from scratch. By the end of the course you&apos;ll be very confident in the basics of coding and game development, and hungry to learn more.
          p
            | &quot;Any serious game programmer needs to know C++&quot;Jason Gregory, Lead Programmer at Naughty Dog (creators of Uncharted &amp; The Last of Us)
          p
            | Anyone who wants to learn to create games: Unreal Engine is a fantastic platform which enables you to make AAA-quality games. Furthermore these games can be created for Windows, consoles, MacOS, iOS, Android and Web from a single source!
          p
            | If you&apos;re a complete beginner, we&apos;ll teach you all the coding and game design principles you&apos;ll need. If you&apos;re an artist, we&apos;ll teach you to bring your assets to life. If you&apos;re a coder, we&apos;ll teach you game design principles.
          p What this course DOESN&apos;T cover...
          p
            | Whereas this course is already huge, we can&apos;t possibly cover everything in that time. Here are some things we will not be covering...
          h2 Who is the target audience?
          ul.p-0.m-0.black-doted
            li Competent and confident with using a computer.
            li Artists who want to bring their assets alive in a game engine.
            li Developers who want to re-skill across to coding.
            li Complete beginners who are willing to work hard.
            li Existing programmers who want to re-skill to game development.
        .single-course-accordion-cont.mt-3
          header.entry-header.flex.flex-wrap.justify-content-between.align-items-center
            h2 Curriculum For This Course
            .number-of-lectures 340 Lectures
            .total-lectures-time 42:57:42
          // .entry-header
          .entry-contents
            .accordion-wrap.type-accordion
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center.active
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Introduction to this Course
                span.number-of-lectures 7 Lectures
                span.total-lectures-time 21:29
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Introduction to Front End Development
                span.number-of-lectures 4 Lectures
                span.total-lectures-time 26:45
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.align-items-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Introduction to HTML&#x9;
                span.number-of-lectures 12 Lectures
                span.total-lectures-time 58:36
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Intermediate HTML
                span.number-of-lectures 12 Lectures
                span.total-lectures-time 01:12
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Introduction to this Course
                span.number-of-lectures 7 Lectures
                span.total-lectures-time 21:29
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Introduction to CSS
                span.number-of-lectures 12 Lectures
                span.total-lectures-time 01:39
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Intermediate CSS
                span.number-of-lectures 16 Lectures
                span.total-lectures-time 01:25
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Bootstrap
                span.number-of-lectures 16 Lectures
                span.total-lectures-time 01:59
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Introduction to JavaScript
                span.number-of-lectures 12 Lectures
                span.total-lectures-time 56:21
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title DOM Manipulation
                span.number-of-lectures 13 Lectures
                span.total-lectures-time 01:15
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Color Game Project
                span.number-of-lectures 10 Lectures
                span.total-lectures-time 01:47
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Intro to jQuery
                span.number-of-lectures 9 Lectures
                span.total-lectures-time 01:09
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Advanced jQuery
                span.number-of-lectures 5 Lectures
                span.total-lectures-time 34:34
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
              h3.entry-title.flex.flex-wrap.justify-content-between.align-items-lg-center
                span.arrow-r
                  i.fa.fa-plus
                  i.fa.fa-minus
                span.lecture-group-title Data Associations
                span.number-of-lectures 4 Lectures
                span.total-lectures-time 38:07
              .entry-content
                ul.p-0.m-0
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title A Note On Asking For Help
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Introducing Our TA
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 01:43
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Our Class Chat Room
                    span.lectures-preview
                    span.lectures-time.text-left.text-lg-right 07:48
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Why This Course?
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 01:39
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Download
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 2 pages
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Syllabus Walkthrough
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 09:40
                  li.flex.flex-column.flex-lg-row.align-items-lg-center
                    span.lecture-title Lecture Slides
                    span.lectures-preview Preview
                    span.lectures-time.text-left.text-lg-right 00:03
          // .entry-contents
        // .single-course-accordion-cont
        .instructors-info
          header.entry-heading
            h2.entry-title Instructors
          // .entry-heading
          .instructor-short-info.flex.flex-wrap
            .instructors-stats
              img(src='images/instructor.jpg', alt='')
              ul.p-0.m-0.mt-3
                li
                  i.fa.fa-star
                  |  4.7 .7 Average rating
                li
                  i.fa.fa-comment
                  |  25,182 Reviews
                li
                  i.fa.fa-user
                  |  11,085 Students
                li
                  i.fa.fa-play-circle
                  |  2 Courses
            // .instructors-stats
            .instructors-details
              .ratings.flex.align-items-center
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star-o
                span  (4 votes)
              // .ratings
              h2.entry-title.mt-3 The Unreal Engine Developer Course Learn C++ &amp; Make Games
              .course-teacher.mt-3
                | Teacher: 
                a(href='#') Ms. Lara Croft
              // .course-teacher
              .entry-content.mt-3
                p
                  | Hi! I&apos;m Colt. I&apos;m a developer with a serious love for teaching. I&apos;ve spent the last few years teaching people to program at 2 different immersive bootcamps where I&apos;ve helped hundreds of people become web developers and change their lives. My graduates work at companies like Google, Salesforce, and Square.
              // .entry-content
            // .instructors-details
          // .instructor-short-info
        // .instructors-info
        .related-courses
          header.entry-heading.flex.flex-wrap.justify-content-between.align-items-center
            h2.entry-title Related Courses
            a(href='#') View all
          // .entry-heading
          .row.mx-m-25
            .col-12.col-lg-6.px-25
              .course-content
                figure.course-thumbnail
                  a(href='#')
                    img(src='images/3.jpg', alt='')
                // .course-thumbnail
                .course-content-wrap
                  header.entry-header
                    h2.entry-title
                      a(href='#') The Complete Digital Marketing Course
                    .entry-meta.flex.flex-wrap.align-items-center
                      .course-author
                        a(href='#') Ms. Lucius
                      .course-date Dec 18, 2018
                    // .course-date
                  // .entry-header
                  footer.entry-footer.flex.flex-wrap.justify-content-between.align-items-center
                    .course-cost
                      | $55 
                      span.price-drop $78
                    // .course-cost
                    .course-ratings.flex.justify-content-end.align-items-center
                      span.fa.fa-star.checked
                      span.fa.fa-star.checked
                      span.fa.fa-star.checked
                      span.fa.fa-star.checked
                      span.fa.fa-star-o
                      span.course-ratings-count (4 votes)
                    // .course-ratings
                  // .entry-footer
                // .course-content-wrap
              // .course-content
            // .col
            .col-12.col-lg-6.px-25
              .course-content
                figure.course-thumbnail
                  a(href='#')
                    img(src='images/2.jpg', alt='')
                // .course-thumbnail
                .course-content-wrap
                  header.entry-header
                    h2.entry-title
                      a(href='#') The Ultimate Drawing Course Beginner to Advanced
                    .entry-meta.flex.flex-wrap.align-items-center
                      .course-author
                        a(href='#') Michelle Golden
                      .course-date Mar 14, 2018
                    // .course-date
                  // .entry-header
                  footer.entry-footer.flex.flex-wrap.justify-content-between.align-items-center
                    .course-cost
                      span.free-cost Free
                    // .price-drop
                    .course-ratings.flex.justify-content-end.align-items-center
                      span.fa.fa-star.checked
                      span.fa.fa-star.checked
                      span.fa.fa-star.checked
                      span.fa.fa-star.checked
                      span.fa.fa-star-o
                      span.course-ratings-count (4 votes)
                    // .course-ratings
                  // .entry-footer
                // .course-content-wrap
              // .course-content
            // .col
          // .row
        // .related-course
      // .single-course-wrap
    // .col
    // .row
    // .container

